@using OnlineStore.Models.Entities

@model Product

<form method="post">
    @*<input asp-for="Id" hidden /> Burda Biz Her sınıfın ve özellğin adını uygun verdiğimiz için mapleme yapmadan .net algılıyor ancak mapleme yapmamız gerekseydi metoda gidecek özelliği bu şekilde göndermemiz gerekirdi.*@
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="ProductName" class="p-0"></label>
            <input asp-for="ProductName" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="p-0"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" disabled class="form-select">
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="UnitsInStock" class="p-0"></label>
            <input asp-for="UnitsInStock" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="UnitPrice" class="p-0"></label>
            <input asp-for="UnitPrice" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:250px">Delete</button>

        <a asp-controller="Product" asp-action="Index" class="btn btn-primary" style="width:250px">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Back</a>
    </div>
</form>
