@using OnlineStore.Models.Concrete
@model ShippingDetails

<form method="post" >
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Sipariş Bilgileriniz</h2>
            <hr>
        </div>

        <div class="mb-3">
            <label asp-for="FullName" class="p-0"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-primary"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AdressName" class="p-0"></label>
            <input asp-for="AdressName" class="form-control" />
            <span asp-validation-for="AdressName" class="text-primary"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="p-0"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-primary"></span>
        </div>
        <div class="mb-3">
            <label asp-for="City" class="p-0"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-primary"></span>
        </div>
        <div class="mb-3">
            <label asp-for="District" class="p-0"></label>
            <input asp-for="District" class="form-control" />
            <span asp-validation-for="District" class="text-primary"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Street" class="p-0"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-primary"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:250px">
            <i class="fa fa-check" aria-hidden="true"></i>
            Tamamla</button>

        

    </div>

</form>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
