@using OnlineStore.Models.Concrete
@model Cart

<style>
    #cart{
        color:white;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0">
    <li  class="nav-item">
        <a  id="cart" class="nav-link " asp-area="" asp-controller="Cart" asp-action="Index">
        <i class="fa fa-cart-plus" aria-hidden="true"></i>
        (@Model.CartLines.Count())
        </a>
    </li>
</ul>
