@{
    ViewData["Title"] = "Online Store";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color:purple">@ViewData["Title"]</h2>
    <br />
    <br />
    <h3>Selin Sokak Milat İş Merkezi No:5</h3>
    <h3>Yenimahale ANKARA</h3>
    <br />
    <h3>E-posta Adresimiz:</h3>
    <h3><a href="mailto:furkan.vty0@gmail.com">furkan.vty0@gmail.com</a></h3>
    <br />
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=16kXS6YZNOI03NdUZ407AV09IP7C1_Jc&ehbc=2E312F" 
    width="640" height="480"></iframe>
</div>

